* {
  padding: 0;
  margin: 0;
}
:root {
  --main-color: #110209;
  --font-color: #50455d;
  --font-color-white: blanchedalmond;
  --svg-color: #50455d;
  --svg-hover-color: #65b4ae;
  --transition: 0.4s;
  --opacity: 0.9;
}
/* NAV */
.nav {
  position: fixed;
  width: 5%;
  height: 100vh;
  border-right: 1px solid skyblue;
  border-image: linear-gradient(to right top, blue, #91fff6, blue);
  border-image-slice: 1;
  opacity: var(--opacity);
}
.nav svg {
  margin-left: 20%;
  width: 60%;
  fill: var(--svg-color);
}
.nav svg:hover {
  fill: var(--svg-hover-color) !important;
}
.nav__section {
  width: -webkit-fill-available;
  background-color: var(--main-color);
}
.nav__section-none {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
}

.bi-nav {
  font-size: 3rem;
  color: var(--svg-color) !important;
  cursor: pointer;
  transition: var(--transition);
  z-index: 200;
}
.bi-nav:hover {
  color: var(--svg-hover-color) !important;
  transition: var(--transition);
}
.bi-nav-active {
  margin: 14px 18px;
  font-size: 3rem;
  color: var(--svg-hover-color) !important;
  cursor: pointer;
}
.fill-nav-active {
  fill: var(--svg-hover-color) !important;
}
.nav__first-section {
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.nav__first-section a {
  margin-bottom: 10vh;
}
.nav__last-section {
  position: absolute;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.bi-box-arrow-in-left {
  position: relative;
  left: 5px;
  font-size: 3.2rem;
}
.nav__burger {
  display: none;
}

/* PANEL */
.panel {
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 100;
  display: flex;
}
.panel__search {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  background-color: var(--main-color) !important;
  border-radius: 50px;
  transition: var(--transition);
}
.panel__search.active {
  width: 260px;
  transition: var(--transition);
}
.panel__icon-search {
  cursor: pointer;
}
.bi-github {
  position: absolute;
  top: -23px;
  left: -76px;
  font-size: 3rem;
  color: var(--main-color) !important;
  transform: translate(10px, 10px);
  transition: var(--transition);
}
.bi-github:hover {
  color: var(--svg-hover-color) !important;
  transition: var(--transition);
}
.bi-search {
  position: absolute;
  left: -1px;
  top: -10px;
  font-size: 2rem;
  color: var(--svg-color) !important;
  transform: translate(10px, 10px);
  transition: var(--transition);
}
.bi-search:hover {
  color: var(--svg-hover-color) !important;
  transition: var(--transition);
}
.panel__form .input {
  display: none;
  margin-right: 0.5rem !important;
  color: var(--font-color) !important;
  background: none;
  border: none;
  box-shadow: none;
}
.panel__form .input.active {
  display: block;
  position: relative;
  top: 7px;
  background-color: var(--main-color);
  box-shadow: none;
}
.panel svg:hover {
  fill: var(--svg-hover-color) !important;
}
.panel__search-hidden-result {
  position: fixed;
  top: 80px;
  right: 175px;
  z-index: 100;
  display: flex;
  align-items: center;
  width: 185px;
  height: 60px;
  margin-right: -40px;
}
.panel__search-hidden-result img {
  height: 48px;
  margin: 5px;
  border-radius: 5px;
}
.panel__search-hidden-result p {
  margin: 0;
  color: var(--font-color-white) !important;
  text-decoration: underline;
  background-color: black;
  border-radius: 5px;
}
.panel__icon-profile {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-color: #cecece;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}
.panel__icon-profile-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.panel__dropdown {
  position: absolute !important;
  top: 62px;
  right: -5px;
  display: flex !important;
  flex-direction: column;
  padding: 5px;
  background-color: var(--main-color);
  border-radius: 10px;
  transition: var(--transition);
  animation: dropdown ease-in-out 0.4s;
}
.panel__dropdown::before {
  content: '';
  position: absolute;
  top: -5px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  transform: rotate(45deg);
}
.panel__profile-link {
  text-decoration: none;
}
.panel__profile-paragraph {
  margin: 5px 0;
  padding: 15px;
  transition: var(--transition);
}
.panel__dropdown p:hover {
  color: var(--font-color-white) !important;
  transition: var(--transition);
  cursor: pointer;
}
.panel__none {
  display: none;
}
@keyframes dropdown {
  0% {
    top: -170px;
    transform: rotate3d(1, 1, 1, 30deg);
  }
  100% {
    transform: rotate3d(1, 1, 1, 0deg);
  }
}

/* Games */
.play {
  height: 100vh;
  background-size: cover;
}
.games {
  background-image: url(/public/images/play/games.png);
}
.csgo {
  background-image: url(/public/images/play/csgo.jpg);
}
.dota {
  background-image: url(/public/images/play/dota.jpg);
}
.rust {
  background-image: url(/public/images/play/rust.jpg);
}
.tf2 {
  background-image: url(/public/images/play/tf2.webp);
}
.play__title {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 5%;
  color: var(--font-color-white);
}
.play__title h1 {
  padding: 10px;
  background-color: black;
  border-radius: 15px;
}

/* Login */
.login {
  margin-left: 5%;
}
.login {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 5%;
  color: var(--font-color-white);
}
.login__title h1 {
  padding: 10px;
  background-color: black;
  border-radius: 15px;
}
/*Изменения скорлла*/
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #934a4a;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-color);
}
